$blue: #00a3e0;
$blue80: #33bbec;
$blue60: #66ccf1;
$blue40: #99ddf5;
$red: #cb2c30;
$green: #3a913f;
$yellow: #ffcd00;
$orange: #ea7600;
$purple: #512d6d;
$purple80: #6d4c88;
$purple60: #9179a8;
$purple40: #b6a6c5;
$grey: #3e4146;
$grey80: #75787b;
$grey60: #a7a8aa;
$grey40: #d0d0ce;

$background: #ffffff;
